html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

#title {
  background-color: #ff9933;
  color: #fff;
  text-align: center;
}

#testimonials {
  text-align: center;
  background-color: white;
  width: 100%;
}

#features {
  background-color: white;
  padding: 7% 12% 0%;
  position: relative;
  text-align: center;
}

.feat-title {
  font-size: 1.6rem;
  color: #4169E1;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: lighter;
}

.feat-title-sub {
  font-size: 1.1rem;
  font-family: 'Montserrat-Black', sans-serif;
}

.brand {
  font-size: 1.2rem;
  color: white;
  font-weight: lighter;
  font-family: 'Montserrat-Black', sans-serif;
}

.brand2 {
  font-size: 1rem;
  color: white;
  font-family: 'Montserrat-Black', sans-serif;
}


body {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

.pricedescr {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
}

.finprice {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.maskord {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 0%;
}

.h5recom{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: #282828;
}

h3 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
}

.choicedescr {
  text-align: center;
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

h4 {
  color: black;
  font-family: 'Montserrat-Black', sans-serif;
}

h5 {
  color: black;
  font-family: 'Montserrat-Black', sans-serif;
}

.h5feat {
  text-align: center;
  line-height: 1.6;
  font-weight: bold;
  font-family: 'Montserrat-Black', sans-serif;
}

p {
  color: #8f8f8f;
  font-family: 'Montserrat-Black', sans-serif;
}

.container-fluid {
  padding: 0;
}

.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 0;
}

.nav-item {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
  color: #8f8f8f;
  text-align: left;
  padding: 0;
}

.nav-item2 {
  font-size: 1rem;
  font-family: 'Montserrat-light';
  color: #8f8f8f;
  text-align: left;
  padding: 0;
}

.download-but {
  margin: 3% 5% 3% 0;
}

.title-img {
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  position: absolute;
  transform: rotate(24deg);
  right: 5%;
  border-radius: 50%;
}

.feature-box {
  text-align: center;
  padding: 5%;
  margin-bottom: 8%;
  font-family: 'Montserrat-Black', sans-serif;
}

.feats {
  padding-bottom: 5%;
  color: #ffbf80;
  border-radius: 100%;
  width: 80%;
  font-family: 'Montserrat-Black', sans-serif;
}

.feats:hover {
  color: #ff9933;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0deg);
  }
}

#testimonials {
  text-align: center;
  background-color: white;
  color: #fff;
  float: left;
  margin-bottom: 15%;
}

#testimonials2 {
  text-align: center;
  background-color: white;
  color: #fff;
  float: right;
  margin-bottom: 5%;
}

.testimonials-img {
  width: 80%;
  margin-bottom: 10%;
}

.testimonial-text {
  margin-bottom: 2%;
  margin-top: 8%;
  font-size: 2.2rem;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: lighter;}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-inner {
  margin-bottom: 5%;
  background-color: white;
}

.carousel-item {
  padding: 3% 15%;
}

.card {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 25px;
  font-family: 'Montserrat-Black', sans-serif;
}

.card-but {
  color: white;
  outline-color: #9ACD32;
  background-color: #9ACD32;
  margin-top: 5%;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: lighter;
}

#pricing {
  padding: 80px;
}

.pricingcard {
  padding: 3% 2%;
}

.pricing-header {
  text-align: center;
}

#cta {
  text-align: center;
  background-color: #696969;
  padding: 6% 20%;
}

.ctah3 {
  font-size: 1.7rem;
  color: white;
  margin-bottom: 5%;
  padding: 0% 15%;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: lighter;
}

.email {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 5%;
  text-decoration: underline;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: lighter;
}

.ctah3sub {
  font-size: 1rem;
  color: white;
  margin-top: 6%;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: lighter;
}

#footer {
  text-align: center;
  padding: 5% 30% 3%
}

.reference-img {
  margin-bottom: 40px;
  color: #ef8172;
}

.reference-img:hover {
  color: red;
}

.kakaotalk {
  width: 5%;
}

#greenbox {
  background-color: #00bd56;
}

.dropdown {
  text-align: right;
}

#choice1 {
  border: 1px solid white;
  margin-bottom: 3%;
  color: white;
}

#choice2 {
  border: 1px solid white;
  margin-bottom: 3%;
  color: white;
}

.choice {
  text-decoration: none;
  background:transparent;
  border: none;
}

.choice a{
  color: white;
  font-family: 'Montserrat-Black', sans-serif;
}

.dropdown-menu {
  border-left-width: 16px;
  background:transparent;
  padding-top: 0;
  border-color: transparent;
}

.carousel-item2 {
  padding-Left: 8%;
}

.carousel-inner {
  color: #FFFFE0;
}


.featureboxes {
  padding-top: 5%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  margin-right: 55%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  margin-left: 55%;
}

#QA {
  text-align: center;
  margin-bottom: 4%;
  padding: 3% 6%;
}

.Que {
  text-align: center;
  font-weight: normal;
  font-family: 'Montserrat-Black', sans-serif;
}

.questions {
  padding-left: 10%;
  padding-bottom: 5%;
  padding-right: 10%;
  margin-bottom: 4%;
}

.Ans {
  text-align: center;
  color: #8f8f8f;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: lighter;
}

.intro {
  text-align: center;
  margin-bottom: 4%;
}

.introline {
  line-height: 30px;
}

.firstbar {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.faq {
  color: #0033cc;
  font-size: 2.6rem;
  font-weight: lighter;
  margin-bottom: 0;
  font-family: 'Montserrat-Black', sans-serif;
}

.recommendations{
  text-align: center;
  padding: 3% 6%;
  margin-top: 5%;
}

.h3recom-or {
  font-weight: normal;
  color: #ff9933;
  margin-bottom: 3%;
  font-family: 'Montserrat-Black', sans-serif;
  margin-top: 10%;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 4%;
  left: 4%;
}

.top-left {
  position: absolute;
  top: 4%;
  left: 4%;
  font-size: 1.2rem;
  color: white;
}

.navbar-toggler {
  border-top-width: 70%;
}

.top-right {
  position: absolute;
  top: 4%;
  right: 4%;
}

.top-right-feat {
  position: absolute;
  font-size: 1.5rem;
  top: 4%;
  right: 16%;
}

.top-left-featS {
  position: absolute;
  font-size: 1rem;
  top: 4%;
  left: 4%;
}

.bottom-right {
  position: absolute;
  bottom: 4%;
  right: 4%;
}

.centered-div {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  margin-top: 5%;
}

.centered-divS {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  margin-top: 5%;
  width: 85%
}

.centered-sub-div {
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  margin-top: 5%;
  width: 70%;
}

.smallWidth {
  width: 90%;
}

.mediumWidth {
  width: 75%
}

.centered-title {
  font-size: 2rem;
  margin-bottom: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.centered-title2 {
  font-size: 1.8rem;
  margin-bottom: 0;
  color: white;
  margin-top: 10%;
  font-family: "Times New Roman", Times, serif;
}

.centered-sub {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 10%;
  font-weight: 100;
}

.centered-sub2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 4%;
  font-weight: 100;
}

.centered-bot-title {
  font-size: 1.8rem;
  color: #9ACD32;
}

.centered-bot-sub {
  color: black;
  font-size: 1.2rem;
  font-weight: lighter;
}

.centered-bot-sub2 {
  color: black;
  font-size: 1rem;
  font-weight: lighter;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.mask-img {
  width: 100%;
}

#carouselExampleControls {
  padding-left: 0px;
  padding-right: 0px;
}

#carouselExampleControls2 {
  padding-left: 0px;
  padding-right: 0px;
}
